.search-input,
.search-icon-wrapper,
.search-button {
    border-radius: 0.2rem;
    height: 2.375rem;
    background: #767097;
    flex-shrink: 0;
}

.search-input {
    border: 0.0625rem solid #F4F4F4;
    border-left: none;
}

.search-input:focus {
    border-color: white;
    background: #666184;
}

.search-icon-wrapper {
    border: 0.0625rem solid #F4F4F4;
}

.search-button {
    color: white;
}

.navbar-icon-button {
    color: white;
    margin-left: 1.5625rem;
    font-size: 1.25rem;
}

.navbar-icon-button:focus,
.navbar-toggler:focus {
    outline: none;
}

.logo {
    width: 10.625rem;
    height: 1.5625rem;
    margin: 0 1.875rem;
}


/* Sidebar container */
.sidebar {
    position: fixed;
    top: 3.125rem;
    left: 0;
    width: 4.6875rem;
    height: calc(100vh - 3.125rem);
    background-color: #7574C7;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.25rem;
    z-index: 999;
}

.sidebar .nav-link,
.sidebar .nav-active {
    color: white;
    margin-top: 1.25rem;
    text-align: center;
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6362BA;
    border-radius: 50%;
    font-size: 1.875rem;
    transition: background-color 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
}

.sidebar .nav-active {
    background-color: black;
    border: 3px solid white;
}

.sidebar .nav-link:hover,
.sidebar .nav-active:hover {
    transform: scale(1.25);
    border-radius: 30%;
}

.sidebar .nav-link:hover {
    background-color: #5a56a6;
}

:root {
    --box-shadow-navbar: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
}
.custom-navbar {
    min-height: 3.5rem;
    box-shadow: var(--box-shadow-navbar);
}

.custom-navbar .navbar-collapse {
    transition: height 0.3s ease-in;
}

.navbar-collapse.collapse.show {
    padding-top: 1rem;
}

@media (max-width: 61.969rem) {
    .search-input {
        width: 12rem;
    }

    .custom-navbar .navbar-collapse {
        padding: 1rem;
    }
}

.mycontainer{
    margin-top: 5.5rem;
    margin-bottom: 1rem;
    margin-left: 5.5rem;
    margin-right: 1rem;
}

.navtasks{
    padding-left: 1rem;
    padding-right: 0.5rem;
    background-color: #D9D9D9;
    border: 2px solid black;
    border-left: 0;
    border-right: 0;
    font-size: 0.9rem;
}

.navtasks .nav-link {
    padding: 0.25rem 0.5rem; 
    font-size: 0.9rem;
    color: black;
}

.navtasks .nav-link.active {
    color: #7574C7;
}
