{% extends "layout.jinja2" %}

{% block title %}Chats{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<main class="mycontainer">
  <h1 style="margin-bottom: 1rem;">Chats</h1>
</main>
{% endblock %}

{% block scripts %}
{% endblock %}