{% extends "layout.jinja2" %}

{% block title %}Home{% endblock %}

{% block styles %}
<link href="{{ request.static_url('plantask:static/styles/pomodoro.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<main class="mycontainer">
  <h1>Home</h1>
  <ul class="navtasks nav nav-underline">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Your tasks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Your team's tasks</a>
    </li>
  </ul>
  {% include "pomodoro.jinja2" %}
</main>
{% endblock content %}

{% block scripts %}
{% endblock %}