{% extends "simple_layout.jinja2" %}

{% block title %}Login{% endblock %}

{% block content %}
<main class="pt-5">
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card p-4 shadow w-100" style="max-width: 400px;">
            <h3 class="text-center mb-4" id="formTitle">Login to Your Account</h3>
            <form id="loginForm" method="POST" action="/login" class="fade-in show">

                <div class="mb-3">
                    <label for="loginEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="loginEmail" required>
                </div>

                <div class="mb-3">
                    <label for="loginPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="loginPassword" required>
                </div>

                <button type="submit" class="btn btn-dark w-100">Login</button>
            </form>
        </div>
    </div>
</main>

<div class="custom-modal" id="pingModal" tabindex="-1" aria-hidden="true">
    <div class="custom-modal-dialog">
        <div class="custom-modal-content">
            <div class="custom-modal-header">
                <h5 class="custom-modal-title">Network Verification Required</h5>
            </div>
            <div class="custom-modal-body">
                <p>You are attempting to access PlanTask from an unrecognized network. Please enter your verification code below:</p>
                <input type="text" id="pingCodeInput" class="form-control custom-input mb-2" placeholder="Enter PingID Code">
                <div id="pingError" class="text-danger small d-none">Incorrect code. Please try again.</div>
            </div>
            <div class="custom-modal-footer">
                <button type="button" class="btn custom-btn w-100" disabled id="pingSubmit">Verify</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{{ request.static_url('plantask:static/scripts/auth.js') }}"></script>
{% endblock %}
