{% extends "layout.jinja2" %}

{% block title %}My Custom Page{% endblock %}

{% block styles %}
<style>
.card {
  text-decoration: none;
}


</style>
{% endblock %}

{% block content %}
<main class="mycontainer">
  <h1>My Projects</h1>




  {% for project in projects %}
  <a href="{{ request.route_url('project_by_id', id=project.id) }}" class="card" style="width: 18rem;">
    <img src="{{ request.static_url('plantask:static/img_example.jpg') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ project.name }}</h5>
      <p class="card-text">{{ project.description }}</p>
    </div>
  </a>
  {% endfor %}

  {% if role == 'admin' %}
    <a href="/create-project" class="create-proj-button">Create New Project  <i class="bi-plus-lg"></i></a>
  {% endif %}
</main>
{% endblock %}

{% block scripts %}
{% endblock %}