{% block navbar %}
<nav class="main-navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-logo-link">
      <img src="{{ request.static_url('plantask:static/kochlogo.svg') }}" alt="Koch Company Logo" class="navbar-logo">
    </a>

    <button class="navbar-toggle-button" id="navbarToggle" aria-label="Toggle navigation">
      <span class="navbar-toggle-icon"></span>
    </button>
    <div class="navbar-content" id="navbarContent">
      <form class="navbar-search-form" style="position: relative;">
        <div class="navbar-search-container">
          <span class="navbar-search-icon"><i class="bi bi-search"></i></span>
          <input class="navbar-search-input" type="text" placeholder="Search" aria-label="Search" id="globalUserSearch">
          <span class="navbar-search-button" type="submit"><i class="bi bi-caret-down-fill"></i></span>
        </div>

        <!-- RESULTADOS -->
        <div id="navbarUserSearchResults"
            class="dropdown-menu d-none show mt-1 shadow"
            style="position: absolute; top: 100%; left: 0; right: 0; z-index: 1000; background-color: white;">
        </div>
      </form>

      <div class="navbar-icons">
        <a class="navbar-icon" href="#" title="Info"><i class="bi bi-question-circle"></i></a>
        <a id="pomodoroToggleBtn" class="navbar-icon" href="#" title="Hourglass">
          <i class="bi bi-hourglass-bottom"></i>
        </a>
        <a class="navbar-icon" href="#" title="Notifications"
          data-bs-toggle="modal"
          data-bs-target="#notificationsModal"
          data-url="{{ request.route_url('get_notifications') }}">
          <i class="bi bi-bell"></i>
        </a>
        <div class="navbar-icon dropdown" style="min-width: 40px; padding: 0;">
          <a id="profileDropdown" aria-label="Profile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if user.pfp %}
              <img src="{{ user.pfp }}" 
                  alt="Profile Picture" 
                  style="width: 24px; height: 24px; border-radius: 50%; object-fit: cover; display: inline-block;">
            {% else %}
              <img src="{{ request.static_url('plantask:static/default_pfp.svg') }}" 
                  alt="Default Profile Picture" 
                  style="width: 24px; height: 24px; border-radius: 50%; object-fit: cover; display: inline-block;">
            {% endif %}
          </a>
          <div class="dropdown-menu dropdown-profile" aria-labelledby="profileDropdown">
              <div>
                <div class="profile-name"><strong>{{ user.first_name }} {{ user.last_name }}</strong></div>
                <a href="{{ request.route_url('user', id=user.id) }}" style="text-decoration: none; color:white" class="profile-name">@{{user.username}}</a>
                <div>{{ user.email }}</div>
              </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item logout-button" href="{{ request.route_url('logout') }}">
              Logout <i class="bi bi-box-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

<div class="modal fade" id="notificationsModal" tabindex="-1" aria-labelledby="notificationsModalLabel" aria-hidden="true">
  <div class="modal-dialog wider-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notificationsModalLabel">Notifications <i class="bi bi-bell"></i></h5>
      </div>
      <div class="modal-body">
        <div id="notificationsList" class="card-container">
          <!-- Notifications will be dynamically loaded here -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script src="{{ request.static_url('plantask:static/scripts/notifications.js') }}"></script>
<script src="{{ request.static_url('plantask:static/scripts/navbar.js') }}"></script>